
<div class="content-form">
    <h3>Bir Yorum Yazın</h3>
    <form method="post">
        <input type="hidden" placeholder="Blog ID" value="@ViewBag.id" required="" name="BlogID"  />
        <input type="text" placeholder="Adınız" name="Name" required="" />
        <input type="text" placeholder="Email Adresiniz" name="Mail" required="" />
        <textarea placeholder="Mesajınızı Yazın " name="Comments" required=""></textarea>
        <input type="submit" value="Gönder" />
    </form>
</div>
