@model List<EasyTripMVC.Models.Classes.Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<div class="header-banner">
    <div class="wrap">
        <div class="banner">
            <div class="indent">
                <h2 class="indent-left margin-bot">Seyahat Bloguma Hoş Geldiniz</h2>
                <div class="banner-left">
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/Content/web/images/glass.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Restoranlar</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/Content/web/images/flight.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Uçuşlar</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/Content/web/images/group.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Yapılacaklar</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/Content/web/images/key.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Kiralık Yerler</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header_bottom_right_images">

                    <div class="slider" style="width:650px;height:350px">
                        <ul class="rslides" id="slider1">
                            @foreach (var item in Model)
                            {
                            <li style="width:650px;height:350px"><img src="@item.BlogImage" alt=""></li>
                            }
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class"content">
    <div class="wrap">
        <div class="wrapper">
            <div class="con-top">
                <h3>Seyahat Bloguma Hoş Geldiniz!</h3>
                <p>Bu projeyi Mayıs 2023 tarihinde oluşturup tamamladım. Gezip gördüğüm yerler hakkında sizlere bilgi vermek amacıyla oluşturduğum bir site şeklini aldı. Sitenin Tüm kodlamalarını kendim oluşturdum. Veri tabanından bilgi çekilen dinamik bir web sitesi olarak tasarladım. Umarım gezdiğim yerleri incelemekten keyif alırsınız. Hepinize bol seyehatli ve sağlıklı günler dilerim. </p>
            </div>
            @Html.Action("PartialFeature")
            <div class="grids">
                <div class="box1">
                   @Html.Action("PartialTop10")
                   @Html.Action("PartialPlaces")
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
