@model EasyTripMVC.Models.Classes.Contact
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="contact">
    <div class="wrap">
        <div class="contact-top">
            <h3>İletişim Bilgileri</h3>
            <p> Benimle iletişim kurmak isterseniz aşağıdaki panelden bana mesaj gönderebilirsiniz.</p>
        </div>
        <div class="form">
            <form class="cmxform" id="contactForm" method="post">
                <div>
                    <input type="text" class="textbox" required="" name="NameSurname" placeholder="İsminiz:" >
                </div>
                <div>
                    <input type="text" class="textbox" placeholder="Email Adresiniz:" required="" name="Email" >
                </div>
                <div>
                    <input type="text" class="textbox" placeholder="Konu:" name="Subject" required="" >
                </div>
              
                <div class="form1">
      
                        <textarea placeholder="Mesajınızı Yazın" required="" name="Message" > </textarea>
                    
                </div>
                <p><button class="read">Gönder</button></p>
            </form>
        </div>
       
           
       
        <div class="clear"></div>
        <div class="contact-bottom">
            <div class="contact-left">
                <div class="contact-add">
                    <h3>Adres</h3>
                    <p> Emek/Çankaya/Ankara</p>
                    <p>Telephone:0541 882 19 05</p>
                  
                    <p>Email:<a href="mailto:erhangndz@live.com">erhangndz@live.com</a></p>
                </div>
                
            </div>
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12239.34542896242!2d32.81258568677484!3d39.922678170807956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f3ac97e815d%3A0xfd4a4110ab5e5636!2sEmek%2C%2006490%20%C3%87ankaya%2FAnkara!5e0!3m2!1str!2str!4v1683539480575!5m2!1str!2str" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

